* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
ul, li {
    list-style: none;
}
.header {
    height: 30px;
    background-color: rgb(145, 102, 173);
}
.header-menu {
    float: right;
    padding: 7px;
}
.header-menu_elem {
    display: inline;
    padding-right: 7px;
}
.header-menu_elem::before {
    content: "◉";
    padding-right: 10px;
}
.header-menu_elem a {
    color: rgb(0, 0, 0);
}
.main-video video {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}
.main-video::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 103%;
    background-color: rgb(0, 0, 0, 0.404);
    z-index: -1;
}
.main-video_content {
    font-size: 25px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: 0 auto;
    top: 500px;
    color: rgb(16, 13, 18);
    text-align: center;
}
.main-video_title {
    text-transform:uppercase;
    letter-spacing: 5px;
    color:rgb(212, 165, 252);
}
.main-video_text {
    width: 50%;
    margin: 20px auto;
    color: rgb(255, 255, 255);
}
.main-video_btn {
    border: none;
    padding: 5px 10px;
    font-size: 1em;
    background-color: rgb(173, 131, 209);
}